<div class="w-full p-6 bg-white shadow-md rounded-lg">
    <h2 class="text-2xl font-semibold mb-6">Paramètres du Compte Utilisateur</h2>
    <form [formGroup]="userForm" (ngSubmit)="onUpdateUser()">
        <div class="flex flex-wrap mb-5">
            <div class="w-full md:w-1/2 pr-2">
                <label for="first_name" class="block text-sm font-medium text-gray-700">Prénom</label>
                <input id="first_name" type="text" placeholder="Entrez le prénom" class="form-input mt-1 block w-full" formControlName="first_name" />
            </div>
            <div class="w-full md:w-1/2 pl-2">
                <label for="last_name" class="block text-sm font-medium text-gray-700">Nom</label>
                <input id="last_name" type="text" placeholder="Entrez le nom" class="form-input mt-1 block w-full" formControlName="last_name" />
            </div>
        </div>
        <div class="flex flex-wrap mb-5">
            <div class="w-full md:w-1/2 pr-2">
                <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
                <input id="email" type="email" placeholder="Entrez l'email" class="form-input mt-1 block w-full" formControlName="email" />
            </div>
            <div class="w-full md:w-1/2 pl-2">
                <label for="phone" class="block text-sm font-medium text-gray-700">Téléphone</label>
                <input id="phone" type="tel" placeholder="Entrez le numéro de téléphone" class="form-input mt-1 block w-full" formControlName="phone" />
            </div>
        </div>
        <div *ngIf="canUpdateRoleAndCentre()" class="flex flex-wrap mb-5">
            <div class="w-full md:w-1/2 pr-2">
                <label for="role" class="block text-sm font-medium text-gray-700">Rôle</label>
                <select id="role" class="form-select mt-1 block w-full" formControlName="role">
                    <option value="" disabled>Sélectionnez un rôle</option>
                    <option *ngFor="let role of userRoles" [value]="role">{{ role }}</option>
                </select>
            </div>
            <div class="w-full md:w-1/2 pl-2">
                <label for="centre" class="block text-sm font-medium text-gray-700">Centre</label>
                <select id="centre" class="form-select mt-1 block w-full" formControlName="centreId">
                    <option value="" disabled>Sélectionnez un centre</option>
                    <option *ngFor="let centre of centres" [value]="centre.id">{{ centre.name }}</option>
                </select>
            </div>
        </div>
        <div class="flex flex-wrap mb-5">
            <div class="w-full md:w-1/2 pr-2">
                <label for="profile" class="block text-sm font-medium text-gray-700">Image de Profil (optionnel)</label>
                <input type="file" id="profile" (change)="onFileSelected($event)" accept="image/*" class="mt-1 block w-full" />
            </div>
            <div class="w-full md:w-1/2 pl-2">
                <label for="password" class="block text-sm font-medium text-gray-700">Mot de Passe</label>
                <input id="password" type="password" placeholder="Entrez le mot de passe" class="form-input mt-1 block w-full" formControlName="password" />
            </div>
        </div>
        <div class="mt-8 flex items-center justify-end">
            <button type="submit" class="btn btn-primary">Mettre à jour</button>
        </div>
    </form>
</div>
